:root {
    /* for default backgrounds */
    --c-white: #ffffff;
    
    /* for text */
    --c-black: #000000;
    --c-gray: #757575;
    --c-lightgray: #ecebeb;
    --c-darkgray: #424242;
    --c-hovergray: rgb(230, 230, 230);
    
    /* primary or cta */
    --c-blue: #0C6FF9;
    --c-darkblue: #0b63df;
    --c-lightblue: #cfe2fc;
    
    /* accent */
    --c-yellow: #FFCE00;
    
    /* notifications */
    --c-red: #f44336;
    --c-green: #4caf50;
}


.c-white {
    color: var(--c-white);
}

.c-darkgray {
    color: var(--c-darkgray);
}

.c-black {
    color: var(--c-black);
}

.c-gray {
    color: var(--c-gray);
}

.c-yellow {
    color: var(--c-yellow);
}

.c-green {
    color: var(--c-green);
}

.c-red {
    color: var(--c-red);
}

.c-blue {
    color: var(--c-darkblue);
}

.c-lightblue {
    color: var(--c-lightblue);
}

.c-lightgray {
    color: var(--c-lightgray);
}