:root {
    --c-black: #000000;
    --c-white: #ffffff;
    --c-gray: #757575;
    --c-violet: blueviolet;
    --c-darkgray: #424242;
    --c-lightviolet: #f3e5f5;
    --c-hovergray: rgb(240, 240, 240);
    --c-red: #f44336;
    --c-green: #4caf50;
    --c-yellow: #ffeb3b;
}
