
@media (max-width: 900px) {
    html {
        font-size: 80%;
    }

    .letter-space-md {
        letter-spacing: 0.05rem;
    }
    
    .card-icon {
        font-size: 140%;
    }

    .grid-maxcols-2 {
        grid-template-areas: "item1"
        "item2";
    }
    .grid-maxcols-3 {
        grid-template-areas: "item1 item2"
        "item3 item3";
    }
}

@media (max-width: 700px) {
    html {
        font-size: 70%;
    }
}
