
:root {
    --c-black: #000000;
    --c-white: #ffffff;
    --c-gray: #757575;
    --c-violet: blueviolet;
    --c-darkgray: #424242;
    --c-lightviolet: #f3e5f5;
    --c-hovergray: rgb(240, 240, 240);
    --c-red: #f44336;
    --c-green: #4caf50;
    --c-yellow: #ffeb3b;
}

html {
    font-size: 100%;
}

body {
    background: lightgray;
}

.card-fontfamily {
    font-family: 'Roboto', sans-serif;
}

.border-top-radius {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.border-top-no-radius {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.border-radius-1 {
    border-radius: 5px;
} 
.border-radius-2 {
    border-radius: 10px;
}
.border-radius-3 {
    border-radius: 50%;
}
.border-top-left-radius {
    border-top-left-radius: 5px;
}


.layout-vertical-center {
    display: flex;
    align-items: center;
}

.layout-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-horizontal-stretch {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-wrapper {
    position: relative;
    width: 22rem;
    padding-bottom: 10px;
    background: var(--c-white);
}

.card-dismiss {
    position: absolute;
    top: 1%;
    right: 1%;
    color: var(--c-black);
}

.card-dismiss:hover {
    cursor: pointer;
    color: var(--c-white);
}

.card-3 {
    display: flex;
    flex-direction: column;
}

.card-4 {
    display: flex;
}

.card-wrapper > main:hover {
    cursor: pointer;
    background: var(--c-hovergray);
}

.card-image {
    width: 100%;
    object-fit: cover;
}

.card-3-image {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.card-4-image {
    border-top-right-radius: 0%;
    width: 30%;
}

.card-header {
    padding: 1.5rem;
}

.card-2-header {
    position: absolute;
    top: 0;
}

.card-3-header {
    order: -1;
}

.card-heading-fontstyle {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.01rem;
    color: var(--c-black);
}

.card-heading {
    margin: 0;
}

.card-subheading-fontstyle {
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.01rem;
    color: var(--c-gray);
}

.card-subheading {
    margin: 0;
    margin-top: 0.25rem;
}

.card-text-fontstyle {
    font-size: 0.9rem;
    color: var(--c-gray);
}

.card-text {
    margin: 0;
    padding: 1rem;
}

.card-footer {
    margin: 0 1rem;
}

.card-4-footer {
    margin-top: 0.25rem;
}

.card-5-footer {
    justify-content: flex-start;
}

.card-6-footer {
    justify-content: flex-end;
}

.buttonstyle-1 {
    background: transparent;
    border-style: none;
    color: var(--c-violet);
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem;
}

.card-button {
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    margin-right: 0.5rem;
}

.buttonstyle-1:hover {
    cursor: pointer;
    background: var(--c-lightviolet);
}

.iconstyle-1 {
    opacity: 0.6;
}

.card-icon {
    margin-right: 1rem;
}

.iconstyle-1:hover {
    opacity: 1;
    cursor: pointer;
}

.snackbar-fontfamily {
    font-family: 'Roboto', sans-serif;
}

.snackbar-fontstyle {
    color: var(--c-white);
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
}

.snackbar-position {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    margin-left: -15rem;
}

.snackbar {
    background: var(--c-darkgray);
    width: 30rem;
    padding: 0.5rem;
}

.snackbar-action-btn {
    padding: 0.5rem;
    text-transform: uppercase;
}

.snackbar-dismiss:hover {
    cursor: pointer;
    opacity: 0.5;
}

.badge-green {
    background: var(--c-green);
}
.badge-red {
    background: var(--c-red);
}
.badge-yellow {
    background: var(--c-yellow);
}
.badge-notif {
    width: 0.7rem;
    height: 0.7rem;
}

.badge-small {
    background: var(--c-white);
    color: var(--black-text);
    font-size: 0.8rem;
    padding: 0.5rem 0.6rem;
}

.badge-large {
    background: var(--c-white);
    color: var(--black-text);
    font-size: 1.3rem;
    padding: 0.5rem 0.8rem;
}

.button-badge-wrapper {
    display: inline-block;
    position: relative;
}

.buttonstyle-2 {
    border-style: none;
    background: var(--c-violet);
    color: var(--c-white);
    padding: 0.5rem;
    text-transform: capitalize;
}

.basic-button {
    font-size: 1.1rem;
}

.basic-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.button-badge {
    position: absolute;
    bottom: 70%;
    left: 80%;
}

.avatar-badge {
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--c-black);
    position: absolute;
    top: 65%;
    left: 65%;
}

.button-badge:hover {
    cursor: pointer;
}

/* these classes are for js script only. will update script later. */
.button-toggle-badge {}
.toggle-badge {}

.drawer {
    width: 15rem;
    padding: 1rem;
    background: var(--c-white);
}

.drawer-fontfamily {
    font-family: 'Roboto', sans-serif;
}

.drawer-heading-fontstyle {
    color: var(--c-black);
    text-transform: capitalize;
    letter-spacing: 0.01rem;
}

.drawer-heading {
    margin: 0;
}

.drawer-subheading-fontstyle {
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    color: var(--c-gray);
}

.drawer-subheading {
    margin: 0;
}

.drawer-menu-list {
    padding: 0;
}

.drawer-menu-item-fontstyle {
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

.layout-horizontal-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.drawer-menu-item {
    list-style: none;
    padding: 0.5rem;
    margin: 0.5rem 0;
}
.drawer-menu-item > span {
    margin: 0 0.5rem;
    opacity: 0.7;
}

.drawer-menu-item:hover {
    background: var(--c-hovergray);
    cursor: pointer;
}

.drawer-menu-item-active {
    color: var(--c-violet);
    background: var(--c-lightviolet);
    cursor: pointer;
}

.header {
    padding: 1rem;
    background: var(--c-violet);
    display: grid;
    align-items: center;
}

.header-1 {
    grid-template-areas: "nav heading heading ... ... icons";
}

.header-2 {
    grid-template-areas: 
    "nav ... ... ... ... icons"
    "... heading heading ... ... ...";
}

.header-3 {
    grid-template-areas: "nav icons";
    width: 5rem;
    border-bottom-right-radius: 20px;
}

.header-navigation {
    color: var(--c-white);
    grid-area: nav;
}

.header-fontfamily {
    font-family: 'Roboto', sans-serif;
}

.header-heading-fontstyle {
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing: 0.01rem;
}

.header-heading {
    color: var(--c-white);
    grid-area: heading;
}

.header-icons-wrapper {
    grid-area: icons;
    justify-self: end;
}

.header-icon {
    margin: 0 0.5rem;
    color: var(--c-white);
}

.iconstyle-2 {
    opacity: 1;
}
.iconstyle-2:hover {
    opacity: 0.5;
    cursor: pointer;
}

.dialog-position {
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -10rem;
}

.dialog {
    display: none;
    width: 20rem;
    padding: 1rem;
    background: var(--c-white);
}

.dialog-fontfamily {
    font-family: 'Roboto', sans-serif;
}

.dialog-heading-fontstyle {
    color: var(--c-black);
    letter-spacing: 0.01rem;
    text-transform: capitalize;
}

.dialog-heading {
    margin: 0;
}

.dialog-text-fontstyle {
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    text-transform: capitalize;
}

.dialog-text {
    color: var(--c-gray);
}

.layout-horizontal-end {
    display: flex;
    justify-content: flex-end;

}

.layout-vertical-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.layout-columns-only {
    display: grid;
    grid-auto-flow: column;
}

.tab-wrapper {
    padding: 0;
}

.tab-fontfamily {
    font-family: 'Roboto', sans-serif;
}

.tab-item-fontstyle {
    font-size: 1rem;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    color: var(--c-gray);
}

.tab-item {
    padding: 1rem 0;
    list-style: none;
    justify-self: stretch;
    text-align: center;
    border-radius: 0.1rem;
}

.tabitem-lead-icon {
    padding: 1rem 0;
    list-style: none;
    border-radius: 0.1rem;
}

.layout-horizontal-center {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.tabitem-top-icon {
    padding: 1rem 0;
    list-style: none;
    border-radius: 0.1rem;
}

.tab-wrapper > li:hover {
    background: var(--c-lightviolet);
    cursor: pointer;
}

.tab-item-selected {
    color: var(--c-violet);
    border-bottom-style: solid;
    border-bottom-width: 0.15rem;
    border-color: var(--c-violet);
}

.chips-wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    background: var(--c-lightviolet);
    border-radius: 5px;
}
.chip {
    background: var(--c-violet);
    color: var(--c-white);
    border-radius: 15px;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.01rem;
    margin: 0.5rem;
}
.chip-with-dismiss {
    background: var(--c-violet);
    color: var(--c-white);
    border-radius: 15px;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.01rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
}
.chip-with-dismiss > span {
    margin-left: 0.2rem;
    opacity: 0.5;
}
.chip-with-dismiss > span:hover {
    opacity: 1;
}

.chip:hover {
    cursor: pointer;
}
.chip-with-dismiss:hover {
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.avatar-small {
width: 3rem;
height: 3rem;
}

.avatar-medium {
    width: 5rem;
    height: 5rem;
}

.avatar-large {
    width: 7rem;
    height: 7rem;
}

.avatar-overlap {
    margin-right: -8%;
    border-style: solid;
    border-color: var(--c-lightviolet);
}

.avatar-group {
    background: var(--c-lightviolet);
    display: inline-block;
}

@media (max-width: 900px) {
    html {
        font-size: 80%;
    }
    .material-icons {
        font-size: 100%;
    }
}
@media (max-width: 700px) {
    html {
        font-size: 70%;
    }
    .material-icons {
        font-size: 100%;
    }
}

@media (max-width: 450px) {
    .snackbar-message {
        justify-content: space-between;
        width: 100%;
    }
    .snackbar-dismiss {
        display: none;
    }
    .material-icons {
        font-size: 100%;
    }
}