/* border */
.border-radius-sm {
    border-radius: 5px;
}

.border-top-radius-sm {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.border-radius-circle {
    border-radius: 50%;
}

.border-thin {
    border-style: solid;
    border-width: thin;
}

/* display */
.inline-block {
    display: inline-block;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-order-start {
    order: -1;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-vertical-center {
    display: flex;
    align-items: center;
}

.flex-horizontal-stretch {
    display: flex;
    justify-content: space-between;
}

/* position */
.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

.top-0 {
    top: 0;
}

.top-left-60 {
    top: 60%;
    left: 60%;
}

.top-left-70 {
    top: 70%;
    left: 70%;
}

.top-left-100 {
    top: 100%;
    left: 100%;
}

.top-right-1 {
    top: 1%;
    right: 1%;
}

.bottom-left-60 {
    bottom: 60%;
    left: 60%;
}

.bottom-left-70 {
    bottom: 70%;
    left: 70%;
}

.bottom-left-100 {
    bottom: 100%;
    left: 100%;
}

.bottom-right-5 {
    bottom: 5%;
    right: 5%;
}

/* width and heights */

/* paddings and margins */
.padding-sm {
    padding: 0.2rem;
}

.padding-md {
    padding: 0.5rem;
}

.padding-lg {
    padding: 0.6rem;
}

.padding-xlg {
    padding: 0.7rem;
}

.padding-xxlg {
    padding: 1rem;
}

.padding-bottom-sm {
    padding-bottom: 0.2rem;
}

.padding-bottom-md {
    padding-bottom: 0.5rem;
}

.margin-0 {
    margin: 0;
}

.margin-top-sm {
    margin-top: 0.2rem;
}

.margin-right-md {
    margin-right: 0.5rem;
}

.margin-right-xxlg {
    margin-right: 1rem;
}

.margin-horizontal-xxlg {
    margin-left: 1rem;
    margin-right: 1rem;
}
/* skin */

.container-outlined {
    background: transparent;
    border-style: solid;
}