.avatar {
    object-fit: cover;
}

.avatar-size-sm {
    width: 3rem;
    height: 3rem;
}

.avatar-size-md {
    width: 4rem;
    height: 4rem;
}

.avatar-size-lg {
    width: 5rem;
    height: 5rem;
}

.avatar-size-xlg {
    width: 7rem;
    height: 7rem;
}

.avatar-border-blue {
    border-color: var(--c-blue);
}

.avatar-overlap {
    margin-left: -8%;
}


