.btn-txt {
    border-style: none;
    background: transparent;
}

.btn-txt:hover {
    cursor: pointer;
    text-decoration: underline;
}

.btn-solid {
    border-style: none;
}

.btn-solid:hover {
    cursor: pointer;
    background: var(--clr-off-secondary);
}

.btn-outlined {
    border-style: solid;
    border-color: var(--clr-secondary);
    background: transparent;
}

.btn-outlined:hover {
    cursor: pointer;
    color: var(--clr-off-secondary);
    border-color: var(--clr-off-secondary);
}

.btn-footer {
    width: 100%;
}