.btn-text:hover {
    cursor: pointer;
    background: var(--c-lightblue);
}

.btn-filled {
    background: var(--c-blue);
}

.btn-filled:hover {
    cursor: pointer;
    background: var(--c-darkblue);
}

.btn-outlined:hover {
    cursor: pointer;
}
