.list {
    width: 15rem;
    background: var(--c-white);
}

.stacked-list {
    width: 20rem; 
    background: var(--c-white);
}

ul {
    padding: 0;
    margin: 0;
}

.list-menu-item:hover {
    cursor: pointer;
    background: var(--c-hovergray);
}

.list-menu-item-active {
    cursor: pointer;
    color: var(--c-blue);
    background: var(--c-lightblue);
}