.padding-sm {
    padding: 0.2rem;
}

.padding-md {
    padding: 0.5rem;
}

.padding-lg {
    padding: 0.6rem;
}

.padding-xlg {
    padding: 0.7rem;
}

.padding-xxlg {
    padding: 1rem;
}

.padding-bottom-sm {
    padding-bottom: 0.2rem;
}

.padding-bottom-md {
    padding-bottom: 0.5rem;
}

.margin-0 {
    margin: 0;
}

.margin-top-sm {
    margin-top: 0.2rem;
}

.margin-right-md {
    margin-right: 0.5rem;
}

.margin-right-xxlg {
    margin-right: 1rem;
}


.margin-left-md {
    margin-left: 1rem;
}

.margin-btm-sm {
    margin-bottom: 0.7rem;
}

.margin-btm-md {
    margin-bottom: 1rem;
}

.margin-btm-lg {
    margin-bottom: 1.5rem;
}

.margin-btm-xlg {
    margin-bottom: 2rem;
}

.margin-top-md {
    margin-top: 1rem;
}

.margin-top-lg {
    margin-top: 1.5rem;
}

.margin-top-xlg {
    margin-top: 2rem;
}

.margin-horizontal-xxlg {
    margin-left: 1rem;
    margin-right: 1rem;
}
