@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

.font-size-sm {
    font-size: 1rem;
}

.font-size-md {
    font-size: 1.2rem;
}

.font-size-lg {
    font-size: 1.5rem;
}

.font-size-xlg {
    font-size: 2rem;
}

.text-uppercase {
    text-transform: uppercase;
} 

.text-capital {
    text-transform: capitalize;
} 

.text-bold {
    font-weight: 700;
}

.letter-space-sm {
    letter-spacing: 0.01rem;
}

.letter-space-md {
    letter-spacing: 0.03rem;
}

.letter-space-lg {
    letter-spacing: 0.05rem;
}

.text-white {
    color: var(--c-white);
}
