.dis-inblock {
    display: inline-block;
}

.flx {
    display: flex;
}

.flx-row {
    flex-direction: row;
}

.flx-column {
    flex-direction: column;
}

.flx-order-start {
    order: -1;
}

.flx-grow-1 {
    flex-grow: 1;
}

.flx-center {
    align-items: center;
    justify-content: center;
}

.flx-min-center {
    align-items: center;
}

.flx-maj-stretch {
    justify-content: space-between;
}

.flx-maj-even {
    justify-content: space-evenly;
}

.flx-maj-start {
    justify-content: flex-start;
}

.flx-maj-end {
    justify-content: flex-end;
}

.dis-hidden {
    display: none;
}

.grid {
    display: grid;
}

.grid-maxcols-2 {
    grid-template-areas: "item1 item2";
}

.grid-maxcols-3 {
    grid-template-areas: "item1 item2 item3";
}

.grid-maxcols-4 {
    grid-template-areas: "item1 item2 item3 item4";
}

.grid-itm1 {
    grid-area: item1;
}

.grid-itm2 {
    grid-area: item2;
}

.grid-itm3 {
    grid-area: item3;
}

.grid-itm4 {
    grid-area: item4;
}
