.inline-block {
    display: inline-block;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-order-start {
    order: -1;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-vertical-center {
    display: flex;
    align-items: center;
}

.flex-horizontal-stretch {
    display: flex;
    justify-content: space-between;
}

.flex-horizontal-start {
    display: flex;
    justify-content: flex-start;
}

.flex-horizontal-end {
    display: flex;
    justify-content: flex-end;
}

.no-display {
    display: none;
}

.grid {
    display: grid;
}

.grid-maxcols-2 {
    grid-template-areas: "item1 item2";
}

.grid-maxcols-3 {
    grid-template-areas: "item1 item2 item3";
}

.grid-maxcols-4 {
    grid-template-areas: "item1 item2 item3 item4";
}

.grid-item1 {
    grid-area: item1;
    background: var(--c-lightblue);
}

.grid-item2 {
    grid-area: item2;
    background: var(--c-blue);
}

.grid-item3 {
    grid-area: item3;
    background: var(--c-gray);
}

.grid-item4 {
    grid-area: item4;
    background: var(--c-darkgray);
}
