.icon-primary {
    color: var(--clr-primary);
}

.icon-primary:hover {
    cursor: pointer;
    color: var(--clr-off-primary);
}

.icon-secondary {
    color: var(--clr-secondary);
}

.icon-secondary:hover {
    cursor: pointer;
    color: var(--clr-off-secondary);
}