@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}


/* font sizes */

.txt-sm {
    font-size: 0.5rem;
}

.txt-md {
    font-size: 1rem;
}

.txt-lg {
    font-size: 1.5rem;
}

.txt-xlg {
    font-size: 2rem;
}

.txt-xxlg {
    font-size: 3rem;
}


/* text cases */

.txt-ucase {
    text-transform: uppercase;
}

.txt-lcase {
    text-transform: lowercase;
}

.txt-cap {
    text-transform: capitalize;
} 

/* font weights */

.txt-100 {
    font-weight: 100;
}

.txt-200 {
    font-weight: 200;
}

.txt-300 {
    font-weight: 300;
}

.txt-400 {
    font-weight: 400;
}

.txt-500 {
    font-weight: 500;
}

.txt-600 {
    font-weight: 600;
}

.txt-700 {
    font-weight: 700;
}

.txt-800 {
    font-weight: 800;
}

.txt-900 {
    font-weight: 900;
}